{
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off"
  },
  "plugins": ["prettier", "graphql", "promise"],
  "extends": ["plugin:prettier/recommended", "eslint:recommended"]
}
