{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true,
    "jest": true
  },
  "rules": {
    "semi": [2, "never"]
  },
  "extends": "standard",
  "plugins": [ "flowtype" ]
}
